.example-tab-icon {
  margin-right: 0.5rem;
}

.dateSelector {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin: 0 1rem;
  margin-top: 1rem;
}

.listar {

  margin: 0 1rem;

  .card {
    // display: flex;
    // flex-direction: row;
  
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 1rem 0;

    header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1rem;
    }
    mat-card-actions {
      button {
        margin-right: 0.5rem;
      }
    }
  }
}

.listPatient {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;

  .card {
    min-width: 300px;
    padding: 1rem 0.5rem;
    margin: 1rem;

    header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      margin-bottom: 1rem;
    }
  }
}

