.example-tab-icon {
  margin-right: 0.5rem;
}

.dateSelector {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  margin: 0 1rem;
  margin-top: 1rem;
}

.listar {

  margin: 0 1rem;

  .card {
    // display: flex;
    // flex-direction: row;
  
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 1rem 0;

    header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin-bottom: 1rem;
    }
  }
}

