<h1>
Agendamento da consulta
</h1>

<form [formGroup]="inputs">
    <input formControlName="especialidade_input" type="text" placeholder="Digite uma especialidade">
    <button (click)="filtrarEspecialidade()">Filtrar Especialidade</button>
</form>

<form [formGroup]="inputs">
  <input formControlName="data_input" type="text" placeholder="Digite uma data">
  <button (click)="filtrarData()">Filtrar Data</button>
</form>

  

<div>
  <input placeholder="Digite uma data"/>
</div>
<table>
  <tr>
     <td><label>Médico: </label></td>
     <td><label>Daniela </label></td>
     <td><label> Crm:1111 </label></td>
     <td><label>14h </label></td>
     <td><button (click)="salvar(1,14,111,1111)">Escolher</button></td>
     
  </tr>
  <tr>
    <td><label>Médico: </label></td>
    <td><label>Daniela </label></td>
    <td><label> Crm:2222 </label></td>
    <td><label>15h </label></td>
    
    <td><button (click)="salvar(2,15,111,2222)">Escolher</button></td>
    
  </tr>
  <tr>
    <td><label>Médico: </label></td>
    <td><label>Daniela </label></td>
    <td><label> Crm:3333 </label></td>
    <td><label>16h </label></td>
    <td><button (click)="salvar(3,16,111,3333)">Escolher</button></td>
    
  </tr>
  <tr>
    <td><label>Médico: </label></td>
    <td><label>Daniela </label></td>
    <td><label> Crm:4444 </label></td>
    <td><label>17h </label></td>
    <td><button (click)="salvar(4,17,111,4444)">Escolher</button></td>
 </tr>

  </table>

  <div *ngIf="show">
    <p>Você já tem uma consulta marcada. Gostaria de remarcar?</p>
    <button>Remarcar</button>
  </div>
 

