<h1>
Agendamento da consulta
</h1>

<form [formGroup]="inputs">
    <input formControlName="especialidade_input" type="text" placeholder="Digite uma especialidade">
    <button (click)="filtrarEspecialidade()">Filtrar Especialidade</button>
</form>

<form [formGroup]="inputs">
  <input formControlName="data_input" type="text" placeholder="Digite uma data">
  <button (click)="filtrarData()">Filtrar Data</button>
</form>

<ul *ngFor="let medico of medicos">
  <li>
     <span>{{medico.name}}  </span>
     <span>{{medico.especialidade}}  </span>
     <span>{{medico.crm}}  </span>
     <span>{{medico.horarios}}  </span>
     <span>{{medico.email}}  </span>
     <span><button (click)="salvar(1,14,111,1111)">Escolher</button></span>
     
  </li>
  

</ul>

  <div *ngIf="show">
    <p>Você já tem uma consulta marcada. Gostaria de remarcar?</p>
    <button>Remarcar</button>
  </div>
 

