td{
    padding: 10px;

}
html{
    margin: 0 auto;
    width: 50%; 
}
div{
    padding: 10px; 
}

li{
    padding: 10px; 
}
h1{
    margin: 0 auto;
    width: 50%;
}
input{
    margin: 0 auto;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
