.record-body {
    background-color: azure;
    float: center;
}

.patient-actions {
    float: left;
}

.folder-selection {
        width: 100%;
    }

.button-submit {
    top: 50%;
    width: 100%;
}