<div class="container" style="margin: 20px;">
    <div class="container col-4 record-body">
        <div class="Dados do arquivo">
            <h2>Dados do Arquivo</h2>
            <hr>
            <form [formGroup]="formFiles" class="crm">
                <p>Descrição: <input formControlName="file_description" type="text" class="folder-selection"></p>
                <div class ='dropzone'>
                    <input type="file" id="input">
                    <h3>Arraste e solte os arquivos</h3>
                    <h3>ou</h3>
                    <label for="fileDropRef">Buscar arquivo</label>
                </div>
                <p></p>
                <div id="See file" ></div>
                <p>Observações: </p>
                <textarea class="folder-selection"></textarea>
                <div class= "vertical-center" >
                    <button (click)="submit()" class="button-submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>