<div class="container" style="margin: 20px;">
    <div class="container col-4 record-body">
        <div class="Dados do arquivo">
            <h2>Dados do Arquivo</h2>
            <hr>
            <div class="crm">
                <p>CRM: <input type="text" class="folder-selection" ></p>
                <p>Descrição: <input type="text" class="folder-selection"></p>
                <button>Selecionar arquivo  <i class="fas fa-file-upload"></i></button>
                <p></p>
                <!--
                    Esse div mostra o arquivo selecionado caso tenha algo para mostrar
                -->
                <div class="See file"></div>
                <p>Observações: </p>
                <textarea class="folder-selection"></textarea>
                <div class= "vertical-center" >
                    <button class="button-submit" id='button-submit'>Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>