<div class="container" style="margin: 20px;">
    <div class="container col-3 patient-actions">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/avatar-pic.jpeg" class="card-img-top" alt="Foto de Perfil">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">{{patient.name}}</h5>
            </div>
        </div>
    </div>
    <div class="container col-9 record-body">
        <div class="dados-gerais">
            <h3>Dados Gerais</h3>
            <ul>
              <li name="patientName"><b>Idade</b> {{patient.idade}}</li>
              <li name="patientEmail"><b>Email:</b> {{patient.email}}</li>
            </ul>
        </div>
        <hr>
        <div>
            <h3>Exames e Imagens</h3>
            <table class="table" style="border: 1px solid black;">
                <thead>
                  <tr>
                    <th scope="col">Arquivo</th>
                    <th scope="col">Data de envio</th>
                    <th scope="col">Enviado por</th>
                  </tr>
                </thead>
                <tbody *ngFor="let archive of archives" name="listaImagens">
                  <tr>
                    <th scope="row" (click)="displayArchive(archive.id)" style="cursor: pointer;">{{ archive.description }}</th>
                    <td>{{ archive.created_at }}</td>
                    <td>{{ archive.crm }}</td>
                  </tr>
                </tbody>
            </table>

            <div>
                <!-- <span>Adicionar arquivo</span> -->
                <button (click)="openArchiveUpload()">Adicionar arquivo <i class="fas fa-file-upload"></i></button>
            </div>
        </div>
        <hr>
        <div>
            <div>
                <h3 style="float: left;">Consultas</h3>
                <button type="button" class="btn btn-success" style="margin-left: 10px;">+</button>
            </div>
            <table class="table" style="border: 1px solid black;">
                <thead>
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Médico(a)</th>
                    <th scope="col">Especialidade</th>
                  </tr>
                </thead>
                <tbody *ngFor="let file of cleanFiles" name="listaAppointmentFiles">
                  <tr>
                    <th scope="row"><a href="#">{{ file.data }}</a></th>
                    <td>{{ file.medicName }}</td>
                    <td>{{ file.medicEspec }}</td>
                  </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>