<form [formGroup]="formFeedback" class="form">

  <div class="rating">
    <label id="example-radio-group-label">Avalie sua Consulta:</label>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      formControlName="avaliacao"
    >
      <mat-radio-button class="example-radio-button" *ngFor="let rating of ratings" [value]="rating">
        {{rating}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  

  <textarea 
    matInput
    name="" 
    id="" 
    cols="30" 
    rows="10"
    formControlName="descricao"
    placeholder="Deixe seu comentário"
  >
  </textarea>

  <button 
    mat-raised-button 
    color="primary"
    matBadge="8" 
    matBadgePosition="before" 
    matBadgeColor="accent"
    (click)="enviar()"
  >
    Enviar
  </button>
</form>

