.form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  .rating {
    display: inline;
    margin: 2rem 0;

    mat-radio-button {
      margin: 0 0.5rem;
    }
  }

  textarea {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  button {
    width: 6rem;
    align-self: flex-end;
  }
}

