<form [formGroup]="formFeedback" class="form">
  <div class="rating">
    <span>Avalie sua Consulta: </span>
    <input type="radio" id="Ruim" name="rating" value="Ruim" (change)="changeRating('Ruim')">
    <label for="Ruim">Ruim</label>
    <input type="radio" id="Regular" name="rating" value="Regular" (change)="changeRating('Regular')">
    <label for="Regular">Regular</label>
    <input type="radio" id="Bom" name="rating" value="Bom" (change)="changeRating('Bom')">
    <label for="Bom">Bom</label>
    <input type="radio" id="Otimo" name="rating" value="Otimo" (change)="changeRating('Otimo')">
    <label for="Otimo">Ótimo</label>
  </div>

  <textarea 
    name="" 
    id="" 
    cols="30" 
    rows="10"
    formControlName="descricao"
    placeholder="Deixe seu comentário"
  >
  </textarea>

  <button 
    mat-raised-button 
    color="primary"
    matBadge="8" 
    matBadgePosition="before" 
    matBadgeColor="accent"
    (click)="enviar()"
  >
    Enviar
  </button>
</form>

