<div mat-dialog-title>
    <h1>Consulta</h1>
    <span>{{ patientName }}</span>
</div>

<form [formGroup]="appointmentForm" mat-dialog-content>
    <div id="queixas">
        <h3>Queixas</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%" 
            rows="3"
            formControlName="queixas"
        ></textarea>
    </div>
    <hr>
    <div id="doencas">
        <h3>Doenças Prévias</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%" 
            rows="3"
            formControlName="doencas"
        ></textarea>
    </div>
    <hr>
    <div id="medicacoes">
        <h3>Medicações em uso</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%" 
            rows="3"
            formControlName="medicacoes"
        ></textarea>
    </div>
    <hr>
    <div id="antecedentes">
        <h3>Antecedentes Familiares</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%" 
            rows="3"
            formControlName="antecedentes"
        ></textarea>
    </div>
    <hr>
    <div id="exame-fisico">
        <h3>Exame Físico</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%"
            rows="3" 
            style="margin-bottom: 10px;"
            formControlName="exameFisico"
        ></textarea>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Peso</span>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Em quilogramas" 
                aria-label="Weight"
                aria-describedby="basic-addon1"
                formControlName="peso"
                (keyup)="imc()"
            >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Altura</span>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Em metros" 
                aria-label="Height"
                aria-describedby="basic-addon1"
                formControlName="altura"
                (keyup)="imc()"
            >
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Pressão arterial</span>
            <input 
                type="text" 
                class="form-control" 
                placeholder="PAS x PAD" 
                aria-describedby="basic-addon1"
                style="width: 30px;"
                formControlName="pressao_art"
            >
        </div>
        <div *ngIf="calcIMC">
            <span>IMC = {{ imcValue }}</span>
        </div>
    </div>
    <hr>
    <div>
        <h3>Hipótese Diagnóstica</h3>
        <textarea 
            class="form-control" 
            name="" 
            id=""
            cols="100%" 
            rows="3"
            formControlName="hipotese"
        ></textarea>
    </div>
    <hr>
    <div>
        <h3>Conduta</h3>
        <textarea 
            class="form-control" 
            name="" 
            id="" 
            cols="100%" 
            rows="3"
            formControlName="conduta"
        ></textarea>
    </div>


</form>

<div mat-dialog-actions>
    <button 
        type="button" 
        class="btn btn-success" 
        (click)="sendForm()"
    >Salvar consulta</button>
</div>
