<div class="content">
  <div class="tools">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>photo_camera</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>call</mat-icon>
    </button>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

  <main>
    <mat-card class="example-card">
      <mat-card-header color="primary">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Marta Reis</mat-card-title>
        <mat-card-subtitle>Endocrinologista</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button><mat-icon>favorite</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Carlos Moreira</mat-card-title>
        <mat-card-subtitle>Paciente</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button><mat-icon>favorite</mat-icon></button>
        <button mat-button><mat-icon>share</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </main>

  
</div>
